.footer-wrapper {
  min-height: 45vh;
  padding: 10px;
}

.footer {
  padding: 30px 100px;
  background-color: var(--color-black);
  color: var(--color-white);

  border-radius: 20px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__nav-navigation {
  display: flex;
  gap: 50px;

  list-style: none;
}

.footer__nav-navigation li {
  position: relative;
  font-size: 16px;
  cursor: pointer;
}

.footer__nav-navigation li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1.5px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.footer__nav-navigation li:hover::after {
  transform: scaleX(1);
}

.footer__content {
  margin: 100px 0;
  text-align: center;
}

.footer__content h2 {
  font-size: 50px;
}

.footer__content span {
  color: var(--color-gray-light);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer__bottom-copyright a {
  text-decoration: none;
  color: var(--color-white);

  font-size: 2.8rem;
  font-weight: 900;
  font-style: italic;

  cursor: pointer;
}

.footer__bottom-copyright p {
  color: var(--color-gray-light);
  font-size: 0.8rem;
}

.footer__bottom-email p {
  color: var(--color-gray-light);
  margin-bottom: 10px;
}

.footer__bottom-email h2 {
  cursor: pointer;
}

@media (max-width: 820px) {
  .footer {
    padding: 30px 20px;
  }

  .footer__nav-navigation {
    flex-direction: column;
  }

  .footer__nav-navigation-left {
    text-align: end;
  }

  .footer__content h1 {
    font-size: 30px;
  }
}

@media (max-width: 762px) {
  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }

  .footer__bottom-email {
    order: -1;
  }
}
