.skill-content-item {
  padding: 15px;
  border-radius: 25px;
  width: 120px;

  align-self: center;
  text-align: center;
  text-decoration: none;

  background-color: white;
  color: var(--color-black);
}

.skill-content-item img {
  height: 40px;
  width: auto;
}

@media (max-width: 820px) {
  .skill-content-item {
    padding: 15px;
    border-radius: 20px;
  }

  .skill-content-item img {
    height: 30px;
    width: auto;
  }

  .skill-content-item h3 {
    font-size: 14px;
  }
}
