@import "./components/ButtonConnect.css";

.header {
  position: fixed;
  top: 0;
  z-index: 100;

  width: 100%;

  background-color: var(--color-white);

  transition: transform 0.6s ease;
}

.header--hidden {
  transform: translateY(-100%);
}

.header__nav {
  margin: 15px 10%;

  display: flex;
  align-items: center;
}

.header__nav a {
  flex: 1;
  color: var(--color-black);
  text-decoration: none;

  font-size: 2.8rem;
  font-weight: 900;
  font-style: italic;

  cursor: pointer;
}

.header__nav-desktop {
  display: flex;
  align-items: center;
}

.header__nav-navigation {
  margin: 0 50px 0px 0;

  display: flex;
  gap: 50px;

  list-style: none;
}

.header__nav-navigation li {
  position: relative;
  font-size: 16px;
  cursor: pointer;
}

.header__nav-navigation li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1.5px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.header__nav-navigation li:hover::after {
  transform: scaleX(1);
}

.header__nav-btn-toggle {
  display: none;
  position: relative;
  border: none;
  background: none;
  width: 40px;
  height: 40px;
}

.icon-menu,
.icon-close {
  position: absolute;
  inset: 0;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.icon-menu {
  opacity: 1;
  transform: scale(1);
}

.icon-close {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}

.header__nav-btn-toggle[aria-expanded="true"] .icon-menu {
  opacity: 0;
  transform: scale(0.8);
}

.header__nav-btn-toggle[aria-expanded="true"] .icon-close {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.header__nav-mobile {
  display: none;
  position: absolute;
  top: 80px;
  width: 100%;

  padding: 20px;

  background-color: var(--color-white);
}

.header__nav-mobile-navigation {
  list-style: none;
  text-align: end;

  margin-bottom: 50px;
}

.header__nav-mobile-navigation li {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;

  cursor: pointer;
}

@media (max-width: 820px) {
  .header {
    border-bottom: 1px solid;
    border-color: var(--color-border);
  }

  .header__nav-desktop {
    display: none;
  }

  .header--hidden {
    transform: translateY(0);
  }

  .header__nav-btn-toggle {
    display: inline;
  }

  .header__nav-mobile {
    display: inline;
    transform: translateY(-20px);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;

    border-bottom: 1px solid;
    border-color: var(--color-border);
  }

  .header__nav-mobile.is-open {
    transform: translateY(0);
    opacity: 1;
    max-height: 500px;
  }
}
